<button type="button" class="btn add-user-button" (click)="openModal(template, 'create')">Create user</button>
 
<div class="alert alert-warning" *ngIf="errorMessage">
  Signup failed!<br />{{ errorMessage }}
</div>

<ng-template #template>

  <app-user-create-popover [mode]="popoverMode"
                           [user]="selectedUser"
                           (closeModal)="closeModal()"
                           (userCreate)="onUserCreate($event)"
                           (userEdite)="onUserEdite($event)">

  </app-user-create-popover>

</ng-template>

<div *ngFor="let user of users">
  <div class="card"
        *ngIf="!isAdmin(user.user)"
  >
  <div class="navi" (click)="selectUser(user.user)">
    <h4>{{user.user.firstname}} {{user.user.lastname}}</h4>
    <div> <b>username:</b> {{user.user.username}} </div>
    <div> <b>e-mail:</b> {{user.user.email}}</div>
    <div> <b>role:</b> {{getStrRoles(user.user.roles)}}</div>
    <div> <b>This month efficiency:</b> {{user.eff.toFixed(2)}}</div>
    </div>
    <button *ngIf="isAdminRole || isModeratorRole" type="button" class="btn edit-user-button" (click)="openModal(template, 'edit', user.user)"> Edit </button>
    <button *ngIf="isAdminRole" type="button" class="btn delete-user-button" (click)="deleteUser(user.user)"> Delete </button>

  </div>
</div>